<%- include('../partials/header') %> 
    <div id="title">
        <h1><%= comic.title %></h1>
    </div>
    <form action="/comics/<%=comic._id%>?_method=PUT " method="POST" class="edit-form">
    <label for="title">-Title-</label>
    <input type="text" name="title" value="<%= comic.title %> " required>
    <br><label for="issueNum">-Issue/Trade #-</label>
    <input type="text" name="issueNum" value="<%= comic.issueNum %> ">

    <br><label for="writers">-Writer-</label> <!-- Datalist should have all writers that are currently in db -->
        <select name="writers">
            <option disabled selected value style="display:none">choose from list or add above</option>
            <%- writers.map(w => `<option value="${w._id}">${w.name}</option>`).join('') %>
        </select>
        <br><label for="artists">-Artist-</label> <!-- Datalist should have all atists that are currently in db -->
        <select name="artists">
            <option disabled selected value style="display:none">choose from list or add above</option>
            <%- artists.map(a => `<option value="${a._id}">${a.name}</option>`).join('') %>
        </select>
    <!-- Also might still need checkboxes for isowned and read? -->
    <input type="submit" value="Update Comic">
    </form>

<%- include('../partials/footer') %> 