<%- include('../partials/header') %> 
<section id="block">   
<div id="title">
        <h1><%= title %></h1>
    </div>
    <div id="main">
        <% comics.forEach( c => { %>
        <div><em><strong><%= c.title %></strong></em>
        <% if(c.issueNum) { %> Vol. <%= c.issueNum %> 
        <% } %> 
            <a id ="detail-link" href="comics/<%=c._id%>">
                Detail View 
            </a>
        </div>
        <% }); %>      
    </div>
</section>
<%- include('../partials/footer') %> 