<%- include('../partials/header') %> 
    <div id="title">
        <h1><%= title %></h1>
    </div>
    <div id="main">
        <% comics.forEach( c => { %>
        <div><%= c.title %>
        <% if(c.issueNum) { %> &nbsp Volume: <%= c.issueNum %> 
        <% } %> 
            <a href="comics/<%=c._id%>">
                Detail View 
            </a>
        </div>
        <% }); %>      
    </div>

<%- include('../partials/footer') %> 