<%- include('../partials/header') %> 
    <div id="block">
        <h1><%= comic.title %></h1>
        <p>👀</p>
        <p class="every">Title: <%= comic.title %></p>
        <% if(comic.issueNum) { %> 
        <p>Volume: <%= comic.issueNum %></p>
        <% } %> 

        <p class="every">Writer(s):
        <% comic.writers.forEach(w => { %>
            <%= w.name %> 
        <% }) %> </p>
        <p class="every">Artist(s):
            <% comic.artists.forEach(a => { %>
               <%= a.name %>
           <% }) %> </p>
        <% if(!comic.addedBy._id.equals(user._id)) { %>
            <p>Collected by: <%= comic.addedBy.name %>      
        <% } %> 

    
    <% if(comic.addedBy._id.equals(user._id)) { %>
        <a href="<%=comic._id%>/edit" class="btn btn-outline-light btn-sm">Edit Comic</a>
        
        <form style="display: inline;" action="comics/<%=comic._id%>?_method=DELETE " method="POST">
            <button class="btn btn-danger btn-sm">Delete Comic</button>
        </form>

    <% } %> 
    </div>
<%- include('../partials/footer') %> 