<%- include('../partials/header') %> 
    <div id="main">
        <h1><%= comic.title %></h1>
        <p>SHOW IT TO ME!👀</p>
        <p>title:<%= comic.title %></p>
        <% if(comic.issueNum) { %> 
        <p>volume:<%= comic.issueNum %></p>
        <% } %> 

        <p>writer(s):
        <% comic.writers.forEach(w => { %>
            <%= w.name %> 
        <% }) %> </p>
        <p>artist(s):
            <% comic.artists.forEach(a => { %>
               <%= a.name %>
           <% }) %> </p>
        <!-- broken query below here DO FIX-->
        <% if(!comic.addedBy._id.equals(user._id)) { %>
            <p>collected by: <%= comic.addedBy.name %>      
        <% } %> 
        <p>read:<%= comic.isRead %></p>
    </div>
    
    <% if(comic.addedBy._id.equals(user._id)) { %>
        <a href="<%=comic._id%>/edit" class="btn btn-outline-light btn-sm">Edit Comic</a>
        
        <form style="display: inline;" action="comics/<%=comic._id%>?_method=DELETE " method="POST"> <!-- finna be a delete action here -->
            <button class="btn btn-danger btn-sm">Delete Comic</button>
        </form>

    <% } %> 

<%- include('../partials/footer') %> 